@font-face {
  font-family: 'Jost';
  font-style: normal;
  src: url('./Jost-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  src: url('./Jost-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
    text-align: center;
    background: url('./cafeBackground.jpg');
    background-position: center;
    background-size: 150%;
    background-repeat: repeat;
    background-color: #231812;
    backdrop-filter: opacity(50%);
    color: white;
    height: 95vh;
    width: 95%;
    padding: 20px;
    font-family: 'Jost';
}

button {
    background-color: #392b21;
    color: white;
    width: 10%;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px black;
}

img {
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px black;
}

figcaption {
    font-size: small;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    width: 100%;
    margin: 20px;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
}

li {
    list-style: none;
    font-weight: 600;
}

#home-text {
    font-size: 20px;
}

#hours-list {
    margin-left: -40px;
    font-weight: bold
}

#about-us {
    background-color: rgba(200, 178,165, 0.8);
    box-shadow: 0 0 5px 10px rgba(200, 178,165, 0.8);
    border-radius: 8px;
    margin-top: 20px;
}

#about-us p {
    font-size: 18px;
}

#menu {
    background-color: rgba(200, 178,165, 0.8);
    box-shadow: 0 0 5px 10px rgba(200, 178,165, 0.8);
    border-radius: 8px;
    margin-top: 20px;
    width: 70vw;
    padding: 15px;
}

#top-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}